<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        姓：<input type="text" placeholder="First Name" v-model='firstName'><br>
        名：<input type="text" placeholder="Last Name" v-model='lastName'><br>
        姓名1:<input type="text" placeholder="Full Name1" v-model='fullName1'><br>
        姓名2：<input type="text" placeholder="Full Name2" v-model='fullName2'><br>

        <p>{{num}}</p>
        <button @click='handleClick'>按钮</button>
    </div>
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript">
        new Vue({
            el:'#app',
            data:{
                firstName:'慕容',
                lastName:'云海',
                num:0,
                fullName2:'慕容 云海'
            },
            methods:{
                handleClick(){
                    this.num++
                }
            },
            computed:{
                // 只读的计算属性
                // fullName1(){
                //     return this.firstName + ' ' + this.lastName
                // }
                fullName1:{
                    get(){
                        return this.firstName+ ' ' + this.lastName
                    },
                    set(newVal){
                        const [firstName,lastName] = newVal.split(' ')
                        this.firstName = firstName;
                        this.lastName = lastName;
                    }
                }
            },
            //监视属性
            watch:{
                // 监视data中firstName属性的变化，一旦变化就会调用下面函数
                firstName(newVal,oldVal){
                    this.fullName2 = newVal+' '+this.lastName
                },
                lastName(newVal,oldVal){
                    this.fullName1 = this.firstName+' '+newVal
                },
                fullName2(newVal){
                    const [firstName,lastName] = newVal.split(' ')
                    this.firstName = firstName;
                    this.lastName = lastName;
                }
            }
        })
    </script>
</body>
</html>