<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="root">
        <h2>测试：v-for遍历数组</h2>
        <ul>
            <li v-for='person in persons' :key='person.id'>
            {{person.id}}--{{person.name}}--{{person.age}}</li>
        </ul>
        <br><br><br>
        <h2>测试：v-for遍历对象</h2>
        <ul>
            <li v-for='value,key in person' :key='key'>
            {{value}}--{{key}}</li>
        </ul>

    </div>

    <script src="../js/vue.js"></script>
    <script>
        new Vue({
            el:'#root',
            data:{
                persons:[
                    {id:1,name:'jack',age:13},
                    {id:2,name:'jams',age:37},
                    {id:3,name:'jordan',age:48},
                    {id:4,name:'kebo',age:39},
                    {id:5,name:'beck',age:26},
                    {id:6,name:'jeff',age:6},
                    {id:7,name:'swift',age:28},
                ],
                person:{
                    name:'swift',
                    age:28
                }
            }
        })
    </script>
</body>
</html>